body {
  background: rgb(224, 239, 243);
}
h1,
p {
  text-align: center;
}

footer {
  text-align: center;
}
.croissant-photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

footer a {
  margin: 0 10px;
  color: rgb(238, 171, 144);
}
